@import url('https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap');

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
/*---------------inicio header-------------------------*/

header{
    width: 100%;
    background-color: sienna;
    float: left;
    display: flex;
    justify-content:space-around;
    align-items: center;
        
}

header div {
    width: 30%;
    margin: 5px;
    padding: 5px;
}

label{
    font-size: 50px;
    color: lemonchiffon;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav{
    width: 100%;
}

nav ul{
    display: flex;
    justify-content:space-around;
    
   
}

nav ul li{
    list-style: none;
    margin: 5px;
    font-size: 20px;
    color: lightcyan;
}
 ul li a{
    
    text-decoration: none;
    color: lightcyan;
}
/*---------------fin header-------------------------*/

/*---------------inicio main-------------------------*/
main,footer{
    width: 100%;
    text-align: center;
    float: left;
}


main{
    background-color: lightgoldenrodyellow;
}

.imx{
    width: 50%;
    height: 250px;
    padding: 2px;
}

h1{
    font-size: 45px;
    color: darkred;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
    
}


h2{
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family: 'The Nautigal', cursive;
    word-spacing: 2px;
    font-size: 30px;
}
p::first-letter{
    font-size: 55px;
    color: aqua;
    border: double red;
    background-color: darkred;
    letter-spacing: 8px;
}

section{
    margin-bottom: 10px;
}
/*---------------fin main-------------------------*/


/*---------------inicio footer-------------------------*/
.imagen_footer{
    width: 60px;
    height: 50px;
    margin: 5px;
    padding: 5px;
}
footer div{
    width: 100%;
    justify-content: space-around;
    display: flex;
}

footer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightcyan;
    font-size: 20px;
    background-color: sienna;
}
/*---------------fin footer-------------------------*/

/*---------------Contacto-------------------------*/

#formu{
    width: 50%;
    background-color: rgb(92, 38, 2);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 5px;
    
}
input{
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}
form label{
    font-size: 22px;
}
/*---------------Contacto-------------------------*/

.producto{
    width: 32%;
    float: left;
    margin-left: 10px;
}


.map{
    border-radius: 100%;
}

.gridcont{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-flow: 50px;
    gap: 25px;
}

.gridcont section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imf-1{
    grid-column: 1/4;
    width: 50%;
    height: 300px;
    margin: 0 auto;
}




@media(max-width: 858px){
    header div{
        width: 40%;
    }
    nav{
        width: 40%;
        display: flex;
        justify-content: end;
    }
    nav ul{
        display: none;
    }
    #menuitem{
        display: block;
        margin-right: 20px;
        font-size: 20px;
        width: 10%;
        color: bisque;
    }

    .dropdown-menu a{
        color: brown;
    }

    .dropdown  i{
        color:bisque;
    }

    #drop{
        display: block;
    }

    label{
        font-size: 35px;
    }

    h1{
        font-size: 25px;

    }
    .sub{
        font-size: 13px;
    }
    p{
        font-size: 15px;
    }
    p::first-letter{
        font-size: 20px;
    }

    .producto{
        width: 30%;
        height: 400px;
    }
    .producto img{
        width: 100%;
        height: 180px;
    }
    .imagen_footer{
        width: 35px;
        height: 30px;
    }

    footer small{
        font-size: 15px;
    }

    #video{
        width: 100%;
    }

    #formu{
        width: 100%;
        margin: 0 auto;
    }

    form label{
        font-size: 12px;
    }

    .imf-1{
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
    }
    .imf{
        height: 180px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10px;
        
    }
    .gridcont{
        display: block;
        
    }

    .imx{
        width: 80%;
    }

    .map{
        width: 100%;
        border-radius: 0%;
    }
}

h1{
    animation: titulo 5s ;    
    animation-fill-mode: forwards;
    
    
}

.carousel-inner img{
    height: 300px;
}

@keyframes titulo{
    from{
        color: bisque;
        transform: translateX(-100px);
        
    }
    to{
        color: darkred;
        transform: translateX(0px);
        
    }
}
.dropdown{
    display: none;
}

.carousel-inner img{
    height: 400px;
}