@import url("https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap");
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

footer div {
  display: flex;
  justify-content: space-around;
  align-items: center; }

footer {
  width: 100%;
  text-align: center;
  float: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: lightcyan;
  font-size: 20px;
  background-color: sienna; }
  footer div {
    width: 100%; }
    footer div .imagen_footer {
      width: 60px;
      height: 50px;
      margin: 5px;
      padding: 5px; }

header {
  width: 100%;
  background-color: sienna;
  float: left;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  header div {
    width: 30%;
    margin: 5px;
    padding: 5px; }
    header div label {
      font-size: 50px;
      color: lemonchiffon;
      font-family: Georgia, 'Times New Roman', Times, serif; }
  header nav {
    width: 100%; }
    header nav ul {
      display: flex;
      justify-content: space-around; }
      header nav ul li {
        list-style: none;
        margin: 5px;
        font-size: 20px;
        color: lightcyan; }
        header nav ul li a {
          text-decoration: none;
          color: lightcyan; }
        header nav ul li a:hover {
          color: aqua; }
  header .dropdown {
    display: none; }

main {
  width: 100%;
  text-align: center;
  float: left;
  background-color: lightgoldenrodyellow; }
  main h1 {
    font-size: 45px;
    color: darkred;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
    animation: titulo 5s;
    animation-fill-mode: forwards; }
  main section {
    margin-bottom: 10px; }
    main section h2 {
      color: brown;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    main section .imx {
      width: 50%;
      height: 250px;
      padding: 2px; }
    main section p {
      word-spacing: 2px;
      color: brown;
      font-family: "The Nautigal";
      font-size: 30px; }
    main section p::first-letter {
      font-size: 55px;
      color: aqua;
      border: double red;
      background-color: darkred;
      letter-spacing: 8px; }
  main .carousel-inner img {
    height: 400px; }
  main #formu {
    width: 50%;
    background-color: #5c2602;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 5px; }
    main #formu label {
      font-size: 22px;
      color: beige; }
    main #formu input {
      display: block;
      margin: 0 auto;
      margin-bottom: 5px; }
    main #formu .boton {
      background-color: darkred;
      color: cyan;
      border: 2px solid red; }
  main .producto {
    width: 32%;
    float: left;
    margin-left: 10px; }
  main .gridcont {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: 50px;
    gap: 25px; }
    main .gridcont section img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    main .gridcont .imf-1 {
      grid-column: 1/4;
      width: 50%;
      height: 300px;
      margin: 0 auto; }
  main .map {
    border-radius: 100%; }

@media (max-width: 858px) {
  header div {
    width: 40%; }
    header div label {
      font-size: 35px; }
  header nav {
    width: 40%;
    display: flex;
    justify-content: end; }
    header nav ul {
      display: none; }
    header nav #drop {
      display: block; }
      header nav #drop .dropdown-menu {
        background-color: sienna; }
        header nav #drop .dropdown-menu a {
          color: beige; }
      header nav #drop i {
        color: bisque; }
  main h1 {
    font-size: 25px;
    margin-top: 5px; }
  main section .h2 {
    font-size: 17px;
    margin-top: 5px; }
  main section .imx {
    width: 80%; }
  main .producto {
    width: 30%;
    height: 400px; }
    main .producto .sub {
      font-size: 13px; }
    main .producto img {
      width: 100%;
      height: 180px; }
  main section p {
    font-size: 15px; }
  main section p::first-letter {
    font-size: 20px; }
  main #video {
    width: 100%; }
  main .gridcont {
    display: block; }
    main .gridcont .imf-1 {
      width: 100%;
      height: 200px;
      margin-bottom: 10px; }
    main .gridcont .imf {
      height: 180px;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 10px; }
  main #formu {
    width: 100%;
    margin: 0 auto; }
    main #formu label {
      font-size: 12px; }
  main .map {
    width: 100%;
    border-radius: 0%; }
  footer div .imagen_footer {
    width: 35px;
    height: 30px;
    border-radius: 100%;
    background-color: antiquewhite; }
  footer small {
    font-size: 12px; } }

@keyframes titulo {
  from {
    color: bisque;
    transform: translateX(-100px); }
  to {
    color: darkred;
    transform: translateX(0px); } }
